@import "tailwindcss";

:root {
  --background: #1A1D23; /* Toss-like dark background */
  --foreground: #FFFFFF; /* Toss-like primary text color */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Pretendard', "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "sans-serif";
}
